
* {
  box-sizing: border-box
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

js-map
{
  display: none;
}






.map {
 height: 93.9vh;
 width: 100vw;
 display: none;
}

.aftn
{
  display: none;
  color: greenyellow;
}


/*custom colors for navbar*/

.navbar-custom {
  background-color: #0026ff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255, 255, 0.5);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255, 255, 0.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: rgba(255,255, 255, 0.9);
}


/*custom navbar height*/
.navbar {
  max-height: 60px;
}



















.navbar-brand {
cursor: default;
}


p {
  
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;

}



h2 {
  color: white;
  font-family: verdana;
  font-size: 18px;
  background-color: rgba(0,0,0,0.2);
}

h3 {
  color: white;
  text-align: center;
}

h4 {

  color: white;
  font-family: verdana;
  font-size: 18px;
  background-color: rgba(0,0,0,0.2);
}

.place{
  color: white;
  z-index:100;
  position: fixed;
  left: 860px;
  bottom: 20px; 

}

.speed-label{
  color: white;
  z-index:100;
  position: fixed;
  left: 220px;
  bottom: 20px; 
}



.aip-info,.aip-info-header
{
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 14px;
  display:none;
  padding: 5px;
  outline: 1px solid black;
  border: 5px solid rgba(0,0,0,0.1);
  position: fixed;
  left: 20px;
  height: auto;
  z-index:122;
  width:auto;
  color: yellow;
  box-shadow: -3px 3px 15px black;

  /* avoid selection text*/
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}




/*
.animate-button
		{	left: 180px;
			bottom: 0.5em;
		}
*/
    .ol-button i
		{	color: inherit; /*custom color for button*/
		}

.fill-flp-button
    {
      
      left:1200px;
      top: 0.5em;
    }

.base-map-button
{
  left: 10px;
  top: 20em;
}

.ol-attribution.ol-unselectable.ol-control.ol-collapsed
{
  position:fixed;
  bottom: 30px;
}





.ol-scale-line.ol-unselectable
{
  position:fixed;
  bottom: 30px;
}





.ol-control.ol-layerswitcher .panel 
{	background-color: rgba(0,0,0,0.3);
  color: white;
	border-radius: 0 0 2px 2px;
	clear: both;
	display: block; 
} 

.ol-unselectable.ol-control.ol-bar.ol-right.ol-top
{
  top:400px;
}

.ol-layerswitcher.ol-unselectable.ol-control.ol-collapsed /* manipulate collapsed menu layers */
{
  background-color: rgba(0,0,0,0.1);
  top: 10px;
}

.ol-layerswitcher.ol-unselectable.ol-control.ol-collapsed.ol-forceopen /* manipulate button menu layers */
{
  top: 10px;
}

.fpl-form-margin
{
  display: none;
  position: fixed;
  right: 55px;
  top:395px;
  height:510px;
  width: 280px;
  border: 1px solid black;
 /* height: 400px;*/
  
  z-index:120;
  background-color:rgba(0,0,0,0.4);
  
  margin: 5px;
  
  box-shadow: -3px 3px 15px black;
}

.fpl-form
{
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 12px;
  display: none;
  position: fixed;
  right: 60px;
  top:400px;
  height:500px;
  width: 270px;
  margin: 5px;
 /* height: 400px;*/
  
  z-index:121;
  background-color:rgba(0,0,0,0.5);
  
  color: yellow;
  /*box-shadow: -3px 3px 15px black;*/


/* avoid selection text */
-webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;


}

.fpl-inner{
  margin: 7px;
}

















.fpl-form :nth-child(n) {
/* background-color:rgba(0,0,0,0.0);*/
  color: yellow;
}


input[type=text] {
 background-color:rgba(0,0,0,0.2);
}

input[type=text]:focus {
 background-color:rgba(0,0,0,0.1);
  color: white;
}


textarea[type=text] {
  background-color:rgba(0,0,0,0.2);
 }
 
 textarea[type=text]:focus {
  background-color:rgba(0,0,0,0.1);
   color: white;
 }
 





.aip-info h2{

cursor: move;
}

long-map-center{
  position:fixed;
  left:900;

}

lat-map-center
{
  position:fixed;
  left:1400;
}


.map-info-bar{
  color: white;
  z-index:2000;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  background-color: rgba(0,0,0,0.6);
}